@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color:                #FFFFFF;
  --primary-color:              #FF4400;
  --section-bg-color:           #f0f8ff;
  --dark-color:                 #000000;
  --grey-color:                 #d0d1d1;
  --p-color:                    #717275;

  --body-font-family:           'Inter', sans-serif;

  --h5-font-size:               24px;
  --p-font-size:                20px;
  --copyright-text-font-size:   16px;
  --product-link-font-size:     14px;
  --custom-link-font-size:      12px;

  --font-weight-thin:           100;
  --font-weight-light:          300;
  --font-weight-normal:         400;
  --font-weight-bold:           700;
  --font-weight-black:          900;
}

body,
html {
  height: 100svh;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: 12px;
  line-height: normal;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.slick-bottom {
  background: linear-gradient(to top, var(--dark-color), transparent 90%);
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-bottom .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.lead {
  font-size: 16px;
}

.slick-title {
  color: var(--white-color);
}

.custom-btn {
  background: var(--dark-color);
  border-radius: 50px;
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  text-transform: uppercase;
  padding: 10px 10px
}

.custom-btn:hover,
.slick-slideshow .custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.box{
  height: 6rem;
  text-align: center;
  background-color: #FF4400;
  line-height: 6rem;
}